body {
    margin: 0;
    text-align: center;
}
div{
    display: block;
    
    
}
h1{
    font-family: 'Sacramento', cursive;
    margin-top: 0;
    font-size: 85px;
    color: #66bfbf;
    line-height: 1;
}

h2{
    font-family: 'Source Sans Pro', sans-serif;
    color: #66bfbf;
    text-align: center;
    margin-top: 70px;
    font-size: 90px;
    
    font-weight: normal;
    
}
hr{
    margin-top: 100px;
    width: 120px;
    border-style: none;
    border-top-style: dotted;
    border-width: 15px;
    color: #d6f7f7;
   
    
}

u {
    text-decoration: #adedf0 wavy underline;
}
h3{
    font-family: 'Source Sans Pro', sans-serif;
    color: #11999E;
    line-height: 2;
    margin: none;
}
a {
    color: #11999E;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 10px;
}
.red {
    font-style: italic;
}
.belowtitle{
    position: relative;
    bottom: 50px;
    font-size: 30px;
}
.topcontainer {
  
background-color: #bff5f2;
padding-top: 200px;
position: relative;
}


.bottomcloud{
   position:absolute;
   left: 370px;
   bottom: 300px;
}
.bottomcontainer{
    width: 100%;
    height: 100px;
    display: block;
    background-color: #66BFBF
  

}

.comp{
    width: 25%;
    float: left;
}
.ifulikeme{
    position: relative ;
   bottom: 100px;
}
.football{
    width: 25%;
    float: right;
    padding-bottom: 50px;
    padding-left: 50px;
}
.footballtext{
   position: relative;
   left: 50px;
   font-family: 'Source Sans Pro', sans-serif;
}
.footballh3{
    position:relative;
    left: 70px;
}
.hacker{
   padding-top: 100px;
}

.top-cloud {
    position: absolute;
   right : 400px;
   top: 100px;
}

.skill-row {
    width: 50%;
   margin: auto;
   margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}

.simplesites{
    position: relative;
    left: 30px;
    font-family: 'Source Sans Pro', sans-serif;
 }
.webdeveloper{
    text-align: left;
    position: relative;
    left: 25px;
    top: 20px;
}

.iamnoahsayed{
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    left: 400px;
    line-height: 2;
    width: 50%;
}
.contact-me{
    background-color: yellow;
    position: relative;
    
}


.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
   bottom: 100px;

  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  